h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Noto Sans";
  font-weight: 400;
}

:root {
  --primery-color: #303030;
  --secondary-color: #ffffff;
  --accent-color: #a9a32a;
  --four-color: #868585;
}

.container {
  max-width: 448px;
  padding: 50px 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
  }
}

@media screen and (min-width: 1290px) {
  .container {
    max-width: 1290px;
    width: 100%;
  }
}

.social-list {
  display: flex;
  width: 170px;
  margin: 0 auto;
}

.social-list__svg {
  width: 30px;
  height: 30px;
  fill: var(--secondary-color);
}

.social-list__svg:hover, .social-list__svg:focus, .social-list__svg:active, .social-list__svg:visited {
  fill: var(--accent-color);
}

.social-list__item:not(:last-child) {
  margin-right: 20px;
}

.first-tittle {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.357;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.descriptor {
  font-size: 10px;
  line-height: 1.388;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.second-tittle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  color: var(--four-color);
}

.third-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.388;
  color: var(--primery-color);
}

@media screen and (min-width: 768px) {
  .descriptor {
    font-size: 13px;
  }
  .first-tittle {
    font-size: 50px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1290px) {
  .first-tittle {
    font-size: 64px;
  }
  .descriptor {
    font-size: 15px;
    margin-bottom: 0;
  }
}

.logo {
  width: 100px;
  height: 30px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  fill: var(--secondary-color);
}

.hero {
  background-image: url("../images/hero/hero-img.jpg");
  background-size: cover;
}

.hero__link {
  background-image: url("../images/buttons/btn.png");
  width: 215px;
  height: 70px;
  background-size: cover;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
}

.hero__link:hover, .hero__link:focus, .hero__link:active, .hero__link:visited {
  background-image: url("../images/buttons/btn-hover.png");
  width: 215px;
  height: 70px;
  display: block;
  outline: none;
}

.hero__text {
  font-size: 18px;
  line-height: 1.357;
  text-align: center;
  margin-bottom: 100px;
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .logo {
    width: 130px;
    height: 40px;
  }
  .hero__text {
    font-size: 25px;
  }
  .hero__link {
    background-image: url("../images/buttons/btn.png");
    width: 306px;
    height: 100px;
    background-size: cover;
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  .hero__link:hover, .hero__link:focus, .hero__link:active, .hero__link:visited {
    background-image: url("../images/buttons/btn-hover.png");
    width: 306px;
    height: 100px;
    display: block;
    outline: none;
  }
}

@media screen and (min-width: 1290px) {
  .logo {
    width: 160px;
    height: 50px;
    margin-bottom: 140px;
  }
  .hero__link {
    transition: 300ms linear;
  }
  .hero__text {
    font-size: 42px;
  }
}

.services .third-tittle {
  margin-bottom: 5px;
}

.services__right-side {
  margin: 0 auto;
}

.text {
  font-size: 14px;
  line-height: 1.357;
  color: var(--primery-color);
}

.text {
  margin-bottom: 30px;
}

.services__img {
  max-width: 418px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .services__img {
    max-width: 100%;
  }
  .second-tittle {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .services .container {
    display: flex;
    padding-top: 150px;
    max-width: 1200px;
  }
  .services .second-tittle {
    margin-bottom: 60px;
  }
  .services .third-tittle {
    margin-bottom: 15px;
  }
  .services .text {
    margin-bottom: 50px;
  }
  .services__left-side {
    width: 510px;
  }
  .services__right-side {
    padding-top: 93px;
    margin-right: 0;
  }
  .margin-bottom_0 {
    margin-bottom: 0 !important;
  }
}

.second-tittle {
  text-align: center;
  margin-bottom: 10px;
}

.description {
  text-align: center;
  margin-bottom: 30px;
}

.green-tarif__img1 {
  margin: 0 auto;
  margin-bottom: 30px;
}

.green-tarif__svg-box {
  display: none;
}

.green-tarif__img2 {
  max-width: 510px;
  width: 100%;
}

.green-tarif__right-side .third-tittle {
  margin-bottom: 30px;
}

@media screen and (min-width: 530px) {
  .green-tarif .container {
    max-width: 530px;
  }
  .green-tarif__list {
    display: flex;
    flex-wrap: wrap;
  }
  .green-tarif__list-item {
    max-width: 235px;
    width: 100%;
  }
  .green-tarif__list-item:nth-child(odd) {
    margin-right: 30px;
  }
  .green-tarif__svg-box {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 0;
  }
  .green-tarif__svg-left {
    width: 40px;
    height: 10px;
    margin-right: 22px;
  }
  .green-tarif__svg-right {
    width: 40px;
    height: 10px;
  }
  .green-tarif__list-item:nth-child(2) {
    position: relative;
  }
  .description {
    text-align: left;
  }
  .second-tittle {
    text-align: left;
  }
}

@media screen and (min-width: 930px) {
  .green-tarif .container {
    max-width: 930px;
    width: 100%;
    display: flex;
  }
  .green-tarif__left-side {
    max-width: 510px;
    width: 100%;
    flex-shrink: 0;
    margin-right: 30px;
  }
  .second-tittle {
    margin-bottom: 60px;
  }
  .description {
    margin-bottom: 85px;
  }
  .green-tarif__right-side {
    padding-top: 93px;
  }
}

@media screen and (min-width: 1000px) {
  .green-tarif .container {
    max-width: 1000px;
  }
  .description {
    margin-bottom: 110px;
  }
}

@media screen and (min-width: 1100px) {
  .green-tarif .container {
    max-width: 1100px;
  }
  .description {
    margin-bottom: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .green-tarif .container {
    max-width: 1200px;
  }
  .description {
    margin-bottom: 130px;
  }
  .green-tarif__right-side {
    max-width: 530px;
    width: 100%;
  }
  .green-tarif__left-side {
    margin-right: 145px;
  }
}

.advantages {
  background-image: url("../images/advantages/advantages-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.advantages .container {
  padding-top: 128px;
  padding-bottom: 144px;
}

.advantages-text {
  font-size: 32px;
  line-height: 1.357;
  color: var(--secondary-color);
}

.advantages-text {
  max-width: 673px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .advantages-text {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-text {
    font-size: 42px;
  }
}

.clients .hero__link {
  background-image: url("../images/buttons/btn-dark.png");
  width: 215px;
  height: 70px;
  background-size: cover;
  display: block;
  margin: 0 auto;
}

.clients .hero__link:hover, .clients .hero__link:focus, .clients .hero__link:active, .clients .hero__link:visited {
  background-image: url("../../images/buttons/btn-dark-hover.png");
  width: 215px;
  height: 70px;
  display: block;
  outline: none;
}

.clients__lift-side .second-tittle {
  text-align: center;
}

.clients .third-tittle {
  max-width: 418px;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.clients__svg-box {
  margin: 0 auto;
  width: 110px;
  margin-bottom: 30px;
  display: none;
}

.clients__text {
  max-width: 418px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.clients__svg-left {
  width: 40px;
  height: 10px;
  margin-right: 22px;
}

.clients__svg-right {
  height: 10px;
  width: 40px;
}

.clients__img {
  max-width: 418px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 530px) {
  .clients .container {
    max-width: 530px;
  }
  .clients__img {
    max-width: 500px;
  }
}

@media screen and (min-width: 930px) {
  .clients .container {
    display: flex;
    max-width: 930px;
    justify-content: space-between;
  }
  .clients .text {
    margin-bottom: 0;
  }
  .clients .hero__link {
    margin-left: 0;
  }
  .clients .third-tittle {
    margin-bottom: 20px;
  }
  .clients .text:not(:last-child) {
    margin-bottom: 3px;
  }
  .clients__lift-side {
    max-width: 360px;
  }
  .client__right-side {
    padding-top: 90px;
  }
  .clients__text {
    margin-bottom: 0;
  }
  .clients__text {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .clients .container {
    max-width: 1200px;
  }
  .clients .third-tittle {
    margin-left: 0;
  }
  .clients .text:not(:last-child) {
    margin-bottom: 15px;
  }
  .clients .hero__link {
    width: 306px;
    height: 100px;
  }
  .clients .hero__link:hover, .clients .hero__link:focus, .clients .hero__link:active, .clients .hero__link:visited {
    width: 306px;
    height: 100px;
  }
  .clients__lift-side {
    max-width: 510px;
    margin-right: 90px;
  }
  .client__right-side {
    max-width: 600px;
    width: 100%;
  }
  .clients__text {
    margin-left: 50px;
    margin-bottom: 45px;
  }
}

.five-steps .container {
  padding-top: 0;
}

.five-steps__list-number {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--four-color);
}

.five-steps__img {
  margin: 0 auto;
  max-width: 418px;
  width: 100%;
}

@media screen and (min-width: 530px) {
  .five-steps .container {
    max-width: 530px;
  }
  .five-steps__img {
    max-width: 510px;
  }
}

@media screen and (min-width: 930px) {
  .five-steps .container {
    max-width: 930px;
    display: flex;
  }
  .five-steps__list {
    max-width: 510px;
    width: 100%;
    padding-right: 50px;
  }
  .five-steps__right-side {
    padding-top: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .five-steps .container {
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
  }
  .five-steps__right-side {
    padding-top: 60px;
  }
}

.form-and-contacts .second-tittle {
  margin-bottom: 60px;
  color: var(--secondary-color);
}

.form-and-contacts {
  background-image: url("../images/form-and-contacts/form-and-contacts_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-form__form {
  display: block;
}

.contact-form__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  display: block;
  margin-bottom: 60px;
}
/*# sourceMappingURL=main.css.map */