.container {
  max-width: 448px;
  padding: 50px 15px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
  }
}

@media screen and (min-width: 1290px) {
  .container {
    max-width: 1290px;
    width: 100%;
  }
}
